.section {
	text-align: center;
}


.container {
	height: 96vh;
	width: 400px;
	overflow: hidden;
}

.content {
	margin-top: 10%;
}
.topnav
{
	text-align:center;
	margin-top: 10%;

}

.switch {

	
	display: inline;
	float: right;
}
.but
{
	display: inline;
	margin-left: 82px;
	
	
}